:root {
  --bg: #ffffff;
  --text: #000;
  --card: #f2f2f2;
}

.dark {
  --bg: #121212;
  --text: #fff;
  --card: #1e1e1e;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.big-logo {
  font-size: 80px;
  margin-bottom: 20px;
}

main {
  text-align: center;
  margin-top: 15vh;
}

input {
  width: 60%;
  max-width: 500px;
  padding: 15px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  background: var(--card);
  color: var(--text);
}

.dots {
  font-size: 30px;
  cursor: pointer;
  margin-top: 25px;
}

.apps {
  display: none;
  margin-top: 20px;
}

.apps a {
  display: inline-block;
  background: var(--card);
  padding: 15px;
  border-radius: 12px;
  margin: 10px;
  text-decoration: none;
  color: var(--text);
  width: 100px;
}
